[Unit]
Description=PiBooth python script
After=network.target

[Service]
Type=simple
ExecStart=/home/pi/env/bin/python /home/pi/PiBooth.py
Restart=on-abort
WorkingDirectory=/home/pi
Environment="XAUTHORITY=/home/pi/.Xauthority"
Environment="DISPLAY=:0"
User=pi

[Install]
WantedBy=multi-user.target


